<nav class="navbar navbar-default mb-5" style="background-color: #3cb371">
  <div class="container-fluid header">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Khai thác ngữ liệu song ngữ Việt - Anh</a>
    </div>
    <ul class="nav justify-content-center">
      <li class="{{#if active.home}}active{{/if}}">
        <a href="/">Home</a>
      </li>
      <li class="{{#if active.search}}active{{/if}}">
        <a href="/search">Search</a>
      </li>
      <li class="{{#if active.statistics}}active{{/if}}">
        <a href="/statistics">Statistics</a>
      </li>
    </ul>
  </div>
</nav>